.box-layout {
  background: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.box-layout__box {
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}
.box-layout__title {
  text-align: center;
  margin: 0 0 $m-size 0;
  line-height: 1;
  font-size: 5rem;
  @media (min-width: $desktop-breakpoint) {
    font-size: 7rem;
  }
}