.button {
  background: #f4f4f4;
  border: 1.5px solid $dark-gunmetal;
  color: $dark-gunmetal;
  display: inline-block;
  padding: .25rem;
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.button:hover {
  background: $dark-gunmetal;
  border: 1.5px solid $dark-gunmetal;
  color: #fcfffc;
}

.button--link {
  background: none;
  color: $gainsboro;
}

.button__expenseform {
  @extend .button;
  height: 3rem;
  width: 11rem;
}

.button--secondary {
  @extend .button;
  height: 3rem;
  width: 12rem;
  color: #f4f4f4;
  background: $dark-gunmetal;
}
.button--secondary:hover {
  color: $dark-gunmetal;
  background: #f4f4f4;
}