.text-input {
  border: 1px solid #595c6a;
  height: 50px;
  font-size: $m-size;
  padding: $s-size;
  font-weight: 300;
}
.select {
@extend .text-input;
background: #fcfffc
}

.text-area {
  @extend .text-input;
  height: 6.25rem;
}