// Colors
$dark-gunmetal: #1c1f33;
$smoky-black: #0a0908;
$wageingen-green: #2ba84a;
$gainsboro: #dce0d9;
$off-white: #f4f4f4;

// font-size
$s-font: 0.875rem;
$l-font: 1.125rem;

// space-size
$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;
$desktop-breakpoint:  28.125rem;